.file {
  padding: 2em;
  border-top: 1px solid #ccc;
  width: 100%;
}

.file:first-child{
  border-top: none;
}

.file__main-info{
  display:grid;
  grid-template-columns: 32% 32% 32% 4%;
  text-align: center;
}

.file__name {
  display: flex;
  gap: 2em;
  align-items: center;
  width: 450px;
}

.file__logo {
  width: 2em;
  height: 2em;
}

.file__see-info {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;  
  transition: transform 0.3s;
}

.file__see-info--up {
  transform: rotate(180deg);
}

.file__see-info--down {
  transform: rotate(0deg);
}

.file-description{
  margin-top: 2.5em;
}

.link{
  text-decoration: none;
  color: inherit;
}
