:root {
  --card-width: 325px;
  --card-height: 350px;
}

.project-link {
  color: inherit;
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  position: relative;
  border: 1px solid var(--main-color);
  background-color: var(--background-color);
  overflow: hidden;
  cursor: pointer;
}

.project-card,
.project-card__info {
  border-radius: 2em;
  padding: 0.5em 2em 1em;
  width: var(--card-width);
  height: var(--card-height);
}

.project-card__title {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

.project-card__icon {
  width: 150px;
}

.project-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.project-card__footer--private {
  justify-content: space-between;
}

.project-card__footer--public {
  justify-content: flex-end;
}

.project-card__permision {
  display: inline-block;
  color: white;
  border-radius: 1em;
  background-color: gray;
  padding: 0.5em 1.5em;
}

.project-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: calc(var(--card-width) * -1);
  border: 1px solid black;
  background-color: rgba(0 0 0/0.85);
  text-align: center;
  color: white;
}
.project-card__info--apperance {
  animation-duration: 0.3s;
  animation-name: apperance;
  animation-fill-mode: forwards;
}
.project-card__info--dissapperance {
  animation-duration: 0.3s;
  animation-name: dissapperance;
  animation-fill-mode: forwards;
}

.project-card__categories-title {
  display: block;
  margin-bottom: 1em;
}
@keyframes apperance {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--card-width));
  }
}

@keyframes dissapperance {
  from {
    transform: translateX(var(--card-width));
  }
  to {
    transform: translateX(0px);
  }
}
