.visor-documentos{
}
.visor-documentos__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  border-radius: 2em 2em 0 0;
  background-color: var(--main-color);
  height:5em;
  padding:3em;
  color: white;
  font-weight: bold;
  
}
.visor-documentos__content{
  margin-top: 0;
  margin: 0;
  padding: 1em;
  background-color: #111;
  color: white;
  overflow: auto;
  height: 50em;
  font-family: monospace;
}

.visor-documentos__numberLine{
  display: inline-block;
  text-align: center;
  width: 5em;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
}

.visor-documentos__content--pdf{
  padding: 0;
  height: 90vh;
}