.comment {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
  position: relative;
  margin-bottom: 2.5em;
}

.comment__user-image {
  position: relative;
  
}

.comment__body {
  position: relative;
  width: 100%;
  right: 0;
}

.comment__body-header {
  display: flex;
  gap:1em ;
  align-items: flex-start;
  width: 100%;
}

.comment__post-date,
.comment__writter-email {
  margin-top: 0;
  margin-bottom: 0;
}
.comment__post-date {
  color: gray;
}

.comment__writter-email {
  font-weight: bold;
  color: var(--main-color);
}

.comment__comment-text {
  width: 90%;
  margin-top: 0.5em;
}

.comment__replay,
.comment__view-replies-button{
  color: var(--main-color);
  cursor: pointer;
  display: block;
}

.comment__message-block{
  display: flex;
  justify-content:space-between;
}

.comment__delete-button{
  margin-top: 0.5em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}


