.home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
}

.home__element{
  margin-bottom: 3em;
}

.user-info{
  width: 15%;
}

.user-info__username{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color);
}

.user-info__title-info{
  font-weight: bold;
  color: var(--main-color);
}

.user-info__form-button{
  display:block;
  padding: 0.5em 0;
  width: 40%;
  max-width: 10em;
  margin-bottom: 1em;
}

.user-info__form-file{
  display:block;
  margin-top: 1em;
  margin-bottom: 1em
}

.user-projects{
  width:75%;
  position: relative;
}

.home__user-project-headers{
  display: flex;
  justify-content: space-between;
  padding: 0em 2em 4em;
}
