.project {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5em;
}

.project-section {
  padding: 3em;
  border: 1px solid var(--main-color);
  border-radius: 3em;
}

.project-name {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 2em;
}

.project__buttons-controller {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0em 3em;
}

.project-items__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 1em;
  padding-left: 4em;
  color: var(--main-color);
  font-weight: bold;
}
.project-items__header p:first-child {
  place-self: start;
  padding-left: 1.25em;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6em;
}

.project-setting__label{
  color:var(--main-color);
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

.project-setting__button{
  position: relative;
  padding: 1em 4em;
  border-radius: 2em;
}

.project-setting__icon{
  position: absolute;
  right: 1em;
  width: 1.25em;
  height: 1.25em;
}
.project-setting__input{
  width: 40%;
}

.project-setting__buttons{
  display: flex;
  justify-content:flex-end;
  gap: 5em;
}

.project-setting__coauthor-list{
  list-style: none;
  padding: 0;
}
.project-setting__coauthor{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.project-setting__remove-coauthor-button{
  width:1em;
  height: 1em;
  cursor:pointer;
}
.project-setting__error-message{
  color:red;
  font-weight: semi-bold;
}
.project-section__title{
  color: var(--main-color);
  margin-top: 0;
}

.project__history-button{
  position: fixed;
  right: 2em;
  bottom: 2em;
  width:3em;
  cursor: pointer;
  

}