.project-filter {
  position: relative;
  display: inline-block;
}

.filter-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  position: absolute;
  right: 0;
  padding: 1em;
  border: 1px solid var(--main-color);
  border-radius: 1em;
  background-color: #fff;
  z-index: 100;
}
