.item {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  justify-content: center;
}

.item__path {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 2em;
}
.item__path-link {
  text-decoration: none;
  color: inherit;
}

.item__files-grid {
  border: 1px solid var(--main-color);
  border-radius: 3em;
  padding: 3em;
}

.item__buttons{
  align-self: flex-end;
  display: flex;
  gap: 2em;
}

.item__delete-button {
  padding: 1.25em 4em;
  border-radius: 2em;
}

.item__upload-file{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 1em;
}

.item__upload-file-text{
  cursor: pointer;
  color: var(--main-color);
}

.description-input{
  border: 1px solid var(--main-color);
  border-radius: 2em;
  padding: 2em;
}
